<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.spark">

    <queries>
        <!-- List of apps which you want to support for Intent pay -->
        <package android:name="com.phonepe.app" />
        <!--
             Specific intents you query for,
             eg: for a custom share UI
        -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:windowSoftInputMode="adjustResize"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spark"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Spark.NoActionBar" />

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>


        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_TbZG9ThnEnyf7w" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDrxdnhR8iFJqf7j1WpetHmOXql1EyXpyE" />

        <activity
            android:name=".SerialNumber"
            android:exported="false"
            android:label="@string/title_activity_serial_number"
            android:theme="@style/Theme.Spark.NoActionBar" />
        <activity
            android:name=".HomePage"
            android:exported="false"
            android:label="HomePage"
            android:theme="@style/Theme.Spark.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Spark.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="Login"
            android:theme="@style/Theme.Spark.Fullscreen"/>
        <activity
            android:name=".SignUpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="SignUp"
            android:theme="@style/Theme.Spark.Fullscreen">
        </activity>
        <activity
            android:name=".ChargingStations"
            android:exported="false"
            android:label="ChargingStn"
            android:theme="@style/Theme.Spark.NoActionBar">
        </activity>
        <activity
            android:name=".Settings"
            android:exported="false"
            android:label="Settings"
            android:theme="@style/Theme.Spark.NoActionBar" />
    </application>

</manifest>