<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.spark">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:windowSoftInputMode="adjustResize"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spark"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDrxdnhR8iFJqf7j1WpetHmOXql1EyXpyE" />

        <activity
            android:name=".SerialNumber"
            android:exported="false"
            android:label="@string/title_activity_serial_number"
            android:theme="@style/Theme.Spark.NoActionBar" />
        <activity
            android:name=".HomePage"
            android:exported="false"
            android:label="HomePage"
            android:theme="@style/Theme.Spark.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Spark.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="Login"
            android:theme="@style/Theme.Spark.Fullscreen">
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="Logout"
            android:theme="@style/Theme.Spark.Fullscreen">
        </activity>
        <activity
            android:name=".ChargingStations"
            android:exported="false"
            android:label="ChargingStn"
            android:theme="@style/Theme.Spark.NoActionBar">
        </activity>
    </application>

</manifest>